html,
body {
  margin: 0;
  font-family: "Roboto", sans-serif !important;
}

p {
  color: black;
}

#header {
  position: fixed;
  z-index: 2;
  top: 0;
  width: 100%;
  padding: 15px 0;
  background: #999;
}
#header .container-fluid {
  padding: 0 50px !important;
}
#header .cta {
  padding: 10px 20px;
  color: white;
  font-size: 1rem;
  text-align: center;
  border: 0;
  border-radius: 5px;
  background: #d32f2f;
  text-decoration: none;
  display: inline-block;
  text-transform: capitalize;
}
#header .cta:hover {
  color: white;
  background: #c62828;
}
#header .nav-item {
  color: white;
  text-decoration: none;
  font-size: 1rem;
}
#header .row div:nth-child(2) .nav-item:nth-child(-n+1) {
  margin-right: 50px;
}

.cta-donate {
  padding: 10px 20px;
  color: white;
  font-size: 20px;
  text-align: center;
  border: 0;
  border-radius: 5px;
  background: #d32f2f;
  text-decoration: none;
  text-transform: capitalize;
}
.cta-donate:hover {
  color: white;
  background: #c62828;
}

#menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
#menu li {
  display: inline-block;
  margin-left: 40px;
}
#menu li a {
  font-size: 20px;
  text-transform: capitalize;
  text-decoration: none;
  color: black;
  font-weight: bold;
}
#menu li a:hover {
  color: #d32f2f;
}

#hero {
  padding: 50px 0;
  margin-top: 78px;
}

.quote {
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.25;
  text-decoration: none;
  color: black;
}
.quote:hover {
  color: black;
}

.description {
  font-size: 1.25rem;
}

.cta-hero {
  padding: 15px 35px;
  color: white;
  font-size: 30px;
  text-align: center;
  border: 0;
  border-radius: 5px;
  background: #d32f2f;
  text-decoration: none;
  display: inline-block;
}
.cta-hero:hover {
  color: white;
  background: #c62828;
}

#donations {
  padding: 75px 0;
  background: black;
}

.support-org .logo {
  height: 75px;
  margin: 0 auto;
  text-align: center;
}

.support-org .name {
  font-weight: bold;
  color: white;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
}

.support-org .description {
  color: white;
  font-size: 16px;
  min-height: 115px;
}

.support-org .donate {
  padding: 10px 20px;
  color: white;
  font-size: 20px;
  text-align: center;
  border: 0;
  border-radius: 5px;
  background: #d32f2f;
  width: 100%;
  text-decoration: none;
  display: inline-block;
}

.support-org .donate:hover {
  background: #c62828;
}

.btn-cancel {
  padding: 10px 20px;
  color: white;
  font-size: 20px;
  text-align: center;
  border: 0;
  border-radius: 5px;
  background: #222;
  text-decoration: none;
  display: inline-block;
}
.btn-cancel:hover {
  background: #000;
}

#subscribe,
.btn-continue {
  padding: 10px 20px;
  color: white;
  font-size: 20px;
  text-align: center;
  border: 0;
  border-radius: 5px;
  background: #d32f2f;
  text-decoration: none;
  display: inline-block;
}
#subscribe:hover,
.btn-continue:hover {
  background: #c62828;
}

#subscribe {
  padding: 14px 20px !important;
}

.payment-amount {
  border-radius: 5px;
  width: 100%;
  padding: 17px 20px;
  background: black;
  color: white;
  border: 0;
  font-weight: bold;
}

.payment-amount-active {
  background: #d32f2f !important;
}

:focus {
  box-shadow: none !important;
  border-color: #ced4da !important;
}

#newsletter {
  background-color: #d32f2f;
  background-image: url("/assets/images/flag.png");
  background-repeat: repeat;
  background-size: cover;
  background-position: center right;
}
#newsletter .content {
  padding: 200px 0;
  position: relative;
  z-index: 1;
  width: 100%;
  top: 0;
}
#newsletter #mce-EMAIL {
  width: 100%;
}
#newsletter small {
  font-size: 1rem !important;
  color: white;
  text-shadow: 1px 1px black;
}
#newsletter .fa-circle-check {
  color: #43a047;
}
#newsletter .fa-circle-exclamation {
  color: #ff8a80;
}
#newsletter .container .title {
  font-size: 6rem;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1;
  text-shadow: 1px 1px black;
}
#newsletter .container .description {
  font-size: 2rem;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 25px;
  line-height: 1;
  text-shadow: 1px 1px black;
}
#newsletter input {
  border: 0;
  border-radius: 5px;
  width: 400px;
}

.info {
  padding: 75px 0;
}
.info .fa-inverse {
  font-weight: bold;
  font-style: initial;
}
.info .fa-circle {
  color: black;
}
.info .title {
  font-size: 60px;
  font-weight: bold;
  line-height: 1.1;
  margin-bottom: 35px;
}
.info .description {
  margin-bottom: 35px;
}
.info .description span {
  font-style: italic;
}
.info li {
  margin-bottom: 15px;
}
.info .content {
  width: 550px;
}
.info .section-1 {
  margin-bottom: 100px;
}
.info .plus-minus {
  cursor: pointer;
}
.info .fa-circle-minus {
  color: black;
}
.info .topic {
  font-size: 1.75rem;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: underline;
  line-height: 1.25;
  color: black;
}

.fa-circle-plus {
  color: #e53935;
}

.topic-container {
  margin-bottom: 30px;
}

#footer {
  background: black;
  padding: 75px 25px;
}
#footer .title {
  font-size: 3rem;
  font-weight: bold;
  color: white;
}
#footer .campaign-title {
  font-size: 5rem;
  color: white;
  font-weight: bold;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 0;
}
#footer a {
  text-decoration: none;
}
#footer i {
  color: white;
}
#footer .email-link {
  color: white;
  font-size: 1.25rem;
}

@media (max-width: 1399.98px) {
  .quote {
    font-size: 35px;
  }
}
@media (max-width: 1199.98px) {
  .quote {
    font-size: 40px;
    text-align: center;
  }
  .support-org .name {
    font-size: 19px;
  }
  .support-org .description {
    min-height: 135px;
  }
  .cta-hero {
    margin-bottom: 50px;
  }
}
@media (max-width: 991.98px) {
  #donations {
    padding: 75px 25px;
  }
  #donations .support-org .donate {
    width: auto;
  }
  #donations .description {
    min-height: initial;
  }
  .container .row div:nth-child(-n+2) .support-org {
    margin-bottom: 75px;
  }
  #newsletter .container .title {
    font-size: 5rem;
  }
  #newsletter .container .description {
    font-size: 1.6rem;
  }
  #footer .campaign-title {
    font-size: 4rem;
  }
}
@media (max-width: 767.98px) {
  #hero {
    margin-top: 45px;
  }
  #hero .quote {
    font-size: 1.5rem;
  }
  #hero .description {
    font-size: 1rem;
  }
  #hero .col-hero-img {
    padding-top: 0;
  }
  .cta-hero {
    padding: 10px 20px;
    font-size: 1.25rem;
  }
  .info {
    padding: 75px 35px;
  }
  .info .title {
    font-size: 40px;
  }
  .info .content {
    width: 100%;
  }
  .info .topic {
    font-size: 1.5rem;
  }
  #donations .support-org .donate {
    width: 100%;
  }
  #header {
    padding: 10px 0;
  }
  #header .row div:nth-child(2) .nav-item:nth-child(-n+1) {
    margin-right: 25px;
  }
  #header .cta {
    padding: 5px 10px;
    color: white;
    font-size: 0.75rem;
    text-align: center;
    border: 0;
    border-radius: 5px;
    background: #d32f2f;
    text-decoration: none;
    display: inline-block;
    text-transform: capitalize;
  }
  #header .cta:hover {
    color: white;
    background: #c62828;
  }
  #header .nav-item {
    color: white;
    text-decoration: none;
    font-size: 0.75rem;
  }
  #header .container-fluid {
    padding: 0 25px !important;
  }
  #newsletter .content {
    padding: 75px 0;
  }
  #newsletter .container .title {
    font-size: 3.5rem;
  }
  #newsletter .container .description {
    margin-bottom: 25px;
  }
  #newsletter .container #subscribe {
    width: 100%;
  }
  #footer .campaign-title {
    font-size: 2.2rem;
    margin-top: 35px;
  }
}/*# sourceMappingURL=style.css.map */